{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book List</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
  </head>

  <body>
    <header>
      <h1 class="heading1">{{heading}}</h1>
    </header>
    <main>
      <p>spcific book: {{book.title}}</p>
      <ul>
        {% for book in books %}
        <li>{{book.title}} by {{book.author}}</li>
        <p>This book is banned: {{book.banned}}</p>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
